<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - NetCore Training</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css" asp-append-version="true">
    <!-- pace-progress -->
    <link rel="stylesheet" href="~/admin/plugins/pace-progress/themes/blue/pace-theme-flat-top.css" asp-append-version="true">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" asp-append-version="true">

    @RenderSection("myCss", required: false)

    <!-- Toastr -->
    <link rel="stylesheet" href="~/admin/plugins/toastr/toastr.min.css" asp-append-version="true">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin/dist/css/adminlte.min.css" asp-append-version="true">
    <!-- jQuery -->
    <script src="~/admin/plugins/jquery/jquery.min.js" asp-append-version="true"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">

    <div class="wrapper">
        <!-- Navbar: _HeaderLayoutAdmin-->
        <partial name="_HeaderLayoutAdmin" />

        <!-- Main sidebar: _LeftLayoutAdmin -->
        @await Html.PartialAsync("_LeftLayoutAdmin")

        <!-- Content page -->
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <!-- Control sidebar: _RightLayoutAdmin-->
        <cache expires-after="@TimeSpan.FromMinutes(10)">
            <partial name="_RightLayoutAdmin" />
        </cache>

        <!-- Modal AddOrEdit -->
        <partial name="_ModalAddOrEdit" />

        <!-- Modal FileManager -->
        <partial name="_ModalFileManger"/>

        <!-- Footer -->
        <cache expires-after="@TimeSpan.FromMinutes(10)">
            <partial name="_FooterLayoutAdmin" />
        </cache>

    </div>


    <!-- Bootstrap 4 -->
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <!-- overlayScrollbars -->
    <script src="~/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" asp-append-version="true"></script>
    <!-- pace-progress -->
    <script src="~/admin/plugins/pace-progress/pace.min.js" asp-append-version="true"></script>

    @RenderSection("myScripts", required: false)

    <!-- Toastr -->
    <script src="~/admin/plugins/toastr/toastr.min.js" asp-append-version="true"></script>
    <!-- AdminLTE App -->
    <script src="~/admin/dist/js/adminlte.min.js"asp-append-version="true"></script>
    <script src="~/js/myScripts.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ajaxStart(function () {Pace.restart()});

        $(document).ready(function () {
            $("#form-modal").on('hide.bs.modal', function () {
                $('#form-modal .modal-body').html('');
                $('#form-modal .modal-title').html('');
            });
        });

        /* Config Menu Active When Click */
        $(document).ready(function () {
            const url = window.location;

            $('ul.nav-sidebar a').filter(function () {
                return this.href == url;
            }).parent().addClass('active');

            $('ul.nav-treeview a').filter(function () {
                return this.href == url;
            }).parentsUntil(".sidebar-menu > .nav-treeview").addClass('menu-open');

            $('ul.nav-treeview a').filter(function () {
                return this.href == url;
            }).addClass('active');

            $('li.has-treeview a').filter(function () {
                return this.href == url;
            }).addClass('active');

            $('ul.nav-treeview a').filter(function () {
                return this.href == url;
            }).parentsUntil(".sidebar-menu > .nav-treeview").children(0).addClass('active');

        });
    </script>
</body>
</html>
