@model IEnumerable<Comment>
@{ int i = 0;}

<!-- Bootstrap Switch -->
<script src="~/admin/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>

<!-- DataTables -->
<link rel="stylesheet" href="~/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

<!-- DataTables -->
<script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script>
    $(function () {

        // Bootstrap Switch before DataTale init
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });

        $('#myTable').DataTable({
            "autoWidth": false,
            "responsive": true,
            "columnDefs": [
                { width: 400, targets: 3 }
            ]
        });
    });
</script>


<!-- Bổ Sung Khi Load Lại Form -->
<!-- Select2 -->
<link rel="stylesheet" href="~/admin/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<script src="~/admin/plugins/select2/js/select2.full.min.js"></script>



<table class="table table-hover table-striped" id="myTable">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.DisplayNameFor(m => m.ObjCustomers.FirstOrDefault().UrlImage)</th>
            <th>@Html.DisplayNameFor(m => m.ObjCustomers.FirstOrDefault().FullName)</th>
            <th>@Html.DisplayNameFor(m => m.Description)</th>
            <th>@Html.DisplayNameFor(m => m.Status)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                i++;
                if (item.IsActive)
                {
                    <tr>
                        <td>@i</td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.ObjCustomers.FirstOrDefault()?.UrlImage))
                            {
                                <img src="~/files/customer/@item.ObjCustomers.FirstOrDefault()?.UrlImage?" alt="@item.ObjCustomers.FirstOrDefault()?.FullName" class="img-thumbnail" style="max-height: 80px" />
                            }
                            else
                            {
                                <img src="~/files/no-image.png" alt="@item.ObjCustomers.FirstOrDefault()?.FullName" class="img-thumbnail" style="max-height: 80px" />
                            }
                        </td>
                        <td>@item.ObjCustomers.FirstOrDefault()?.FullName</td>
                        <td>@item.Description</td>
                        <td id="active_@item.Id" data-url="@Url.Action("ChangeStatus")">
                            @if (item.Status == 0)
                            {
                                <input type="checkbox"
                                       name="my-checkbox"
                                       class="activeMenu"
                                       data-bootstrap-switch
                                       data-on-text="ON"
                                       data-off-text="OFF">
                            }
                            else
                            {
                                <input type="checkbox"
                                       name="my-checkbox"
                                       class="activeMenu"
                                       checked
                                       data-bootstrap-switch
                                       data-on-text="ON"
                                       data-off-text="OFF">
                            }
                        </td>
                        <td>
                            <div>
                                <a class="btn btn-warning btn-sm btn-flat text-white" title="@BooksApi.Services.StaticVar.ActionUpdate" onclick="showModalDialog('@Url.Action("AddOrEdit", "Comment", new { id = item.Id }, Context.Request.Scheme)','@BooksApi.Services.StaticVar.ActionUpdate')"><i class="fas fa-pencil-alt"></i> </a>
                                <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm btn-flat"><i class="fas fa-trash-alt"></i> </button>
                                </form>
                            </div>

                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>